.App {
  display: flex; /* Enables flexbox layout */
  height: 100vh; /* Full height of the viewport */
}

.NavBar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #3d68ff; /* Background color for the navbar */
}

.HomePage {
  flex-grow: 1; /* Fills the remaining space */
  padding: 20px; /* Add some padding */
}
